.app {
  display: flex;
  align-items: center;
  place-content: center;
  height: 75vh;
  padding: 0 5%;
}
.joke {
  font-size: 40px;
  text-align: center;
  letter-spacing: 1px;
}
.newJoke {
  position: fixed;
  bottom: 10%;
  left: 50%;
  width: 100px;
  margin-left: -50px;
  border: 0;
  height: 40px;
  border-radius: 10px;
  background: #7089a5;
  color: white;
  font-size: 16px;
  outline: 0;
  transition-duration: 0.2s;
  cursor: pointer;
}
.newJoke:active {
  bottom: 9%;
}

/* Media Queries */
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .joke {
    font-size: 50px;
  }
  .app {
    padding: 0 10%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .joke {
    font-size: 60px;
  }
  .app {
    padding: 0 10%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .joke {
    font-size: 70px;
  }
  .app {
    padding: 0 15%;
  }
}
